body{
    background-color: #dee2e6;
}
h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom:1rem;
}

h1 span{
    font-size: 0.8rem;
    font-weight: normal;
}

h3{
    font-size: 0.9rem;
    margin: 0.3rem 0;
    font-weight: 600;
}

label{
    display: block;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
}

input{
    height: 2.3rem;
    border-radius: 5px;
    border:1px solid #333;
    outline: none;
}

select{
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #DC3546 importantly;
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0;
}



.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: #333;
    color:#fff
}
.footer p{
    margin:1.5rem 0;
    text-align: center;
    font-weight: 500;
}
.footer span{
    font-size: 0.8rem;
    font-weight: normal;
}

.well{
    padding: 0.7rem 1rem;
    border:1px solid #333;
    border-radius: 0.5rem;
    margin-top:0;
}

.well h6, p{
    font-size: 0.7rem;
    margin:4px 0;
}

.well h3{
    font-size: 1rem;
    margin: 0.5rem 0;
}

button, .close-btn, .delete-btn, .status{
    font-size: 0.8rem;
    padding: 0.2rem 0.8rem;
    background-color: #333;
    color: #fff;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.status{
    font-size: 0.6rem;
    background-color:#0ECAF0;
    cursor:default;
}
.close-btn{
    font-size: 0.7rem;
    padding: 0.1rem 0.6rem;
    background-color:#FFC108;
}
.delete-btn{
    font-size: 0.7rem;
    padding: 0.1rem 0.6rem;
    background-color:#DC3546
}
button:hover{
    scale:0.9;
}
